streamlit
fastapi
uvicorn[standard]
langchain==0.3.30
langchain-community==0.3.31
langchain-core==0.3.86
langchain-ollama==0.3.10
ollama
langchain-anthropic==0.3.22
langchain-google-genai==2.1.12
langchain-deepseek==0.1.4
langchain-chroma==0.2.6
langchain-text-splitters==0.3.11
chromadb==1.5.9
python-dotenv
pypdf
tiktoken
pydantic
requests
python-multipart
pdf2image
openpyxl
