streamlit
fastapi
uvicorn[standard]
langchain
langchain-community
langchain-ollama
ollama
langchain-anthropic
langchain-google-genai
langchain-deepseek
langchain-chroma
langchain-text-splitters
chromadb
python-dotenv
pypdf
tiktoken
pydantic
requests
python-multipart
pdf2image
openpyxl
